@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30452.jpg?t=st=1713888198~exp=1713891798~hmac=fd717f365048d2e83faba7f44f8782d1891c6f5e6498a2d30475af9f656c71f1&w=740");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
